/* Write some CSS below */
body { 
font-family: Overpass;
font-size: 18px;
background-color: rgb(230,230,230);
color: rgb(30,30,30);
margin:  0px;
}

h1, h2, h3 {
 font-family: Chivo;
}

a {
	text-decoration: none;
}

.banner {
	background-image: url(images/banner.jpg);
	background-size: cover;
	background-position: center;
	text-align: center; 
	color: white;
	padding: 100px 0px;
}

.btn-yellow {
	background-color: #37e8d3;
	padding:  10px 30px;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 50px;
	opacity: 0.8; 
}
 .card-white img {
width: 200px;
height: 200px;
object-fit: cover;
 }

 .card-white {
 	background-color: white;
 	width: 220px;
 	padding: 24px;
 	text-align: center;
 	margin-bottom: 8px;
 	border-radius: 4px;
 	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
 }

 .container {
 	width: 900px;
 	margin: auto;
 }

 .footer {
 	text-align: center;
 	margin-top:124px;
 	background-color: rgb(55, 232, 211);
 	padding: 4px;
 }

 .cards {
 	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
 	grid-gap: 16px;
 }